<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>浮动原理1.html</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    div {
      box-sizing: border-box;
      width: 50px;
      height: 100px;
    }

    .fl {
      float: left;
      border: 1px solid lime;
    }

    .fr {
      float: right;
      border: 1px solid red;
    }
  </style>
</head>
<body>
  <div class="fl">left</div>
  <div class="fr">right</div>
  <div class="fl">left</div>
  <div class="fr">right</div>
  <div class="fl">left</div>
  <div class="fr">right</div>
  <div class="fl">left</div>
  <div class="fr">right</div>

  <br>
  <br>
  <p>说明：</p>
  
  
</body>
</html>