<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>快级元素</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    .block-level {
      display: block;
      /* display: table; */
      /* display: flex; */
      /* display: grid; */
      /* display: list-item; */
      background: yellow;
    }
  </style>
</head>
<body>
  <div class="block-level">block-level</div>
  <div class="block-level">block-level</div>
  <div class="block-level">block-level</div>
  <div class="block-level">block-level</div>

  <br/>
  <br/>
  <br/>
  <br/>
  <p>说明：</p>
  <p>快级元素独占一行，width默认为100%；</p>
</body>
</html>